.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingLg {
    line-height: 1.4;
    background: orange;
    line-height: 1.5;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    color: #222222;
    font-weight: bold;
  }
  
  .headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
    background: #f6f6ef;
  }
  
  .borderCircle {
    border-radius: 9999px;
  }
  
  .colorInherit {
    color: inherit;
  }
  
  .padding4px {
    padding: 4px;
    line-height: 12pt;
  }

  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    margin: 0 0 1.25rem;
    

  }
  
  .lightText {
    color: #999;
  }

  .aTag{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    color: black;
  }